@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Hides scroll bar */
body::-webkit-scrollbar {
    display: none;
}

/* Header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: -10px;
  justify-content: space-between;
  width: 100%;
}

.logo {
  margin-left: 10px;
  text-transform: uppercase;
}

.link {
  margin-right: 12px;
}

.link > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

/* Book sections */
img {
  width: 420px;
}

.issue-wrapper {
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}

.issue-wrapper::-webkit-scrollbar {
    display: none;
}

.issues {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -49%);
  align-items: center;
}

/* Footer */
footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  align-items: end;
}

.desc {
  width: 285px;
  margin: 0 0 20px 20px;
  font-weight: 500;
}

.copyright-paragraph,
.copyright {
  font-size: 12px;
  color: #6d6769;
}

.privacy-policy {
  color: black;
}

.issue-links {
  display: flex;
  flex-direction: column;
  margin: 0 17px 20px 0;
}

.issue-links > a {
  text-decoration: none;
  color: #6d6769;
  padding: 5px 0 0 0;
}
